.background {
  background-color: #f0f2f3;
  height: 84px;
  display: flex;
  align-items: center;
  color: #272343;
}

.logotext {
  height: 40px;
  width: 166px;
  color: #272343;
  font-size: 26px;
  display: flex;
  margin-left: 300px;
}

.Cart {
  background-color: #ffffff;
  border-radius: 8px;
  width: 120px;
  height: 44px;
  padding-top: 11px;
  padding-right: 16px;
  padding-bottom: 11px;
  padding-left: 16px;
  margin: 12px;
  display: flex;
}

.notification {
  width: 20px;
  height: 20px;
  background-color: #007580;
  text-align: center;
  border-radius: 100%;
  color: #ffffff;
  font-size: 10px;
  align-items: center;
  margin-left: 12px;
}
.Heart {
  width: 44px;
  height: 44px;
  margin-left: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 11px;
}
.Profile {
  width: 44px;
  height: 44px;
  margin-left: 12px;
  background-color: #ffffff;
  border-radius: 8px;
  display: flex;
  align-items: center;
  padding-left: 11px;
  margin-right: 300px;
}
